{% extends 'base.html.twig' %}


{% block title %}HomePage
{% endblock %}


{% block body %}
    {{ parent() }}

    <br/>
    <div class="card-deck">
        {% for card in cards  %}
                {{ include('include/card.html.twig',{
            
                    id:card.id,
                    title:card.title,
                    content:card.content,
                    price:card.price,
                    created_date:card.createdAt|date("m/d/Y")
                }
                )}}



        {% endfor %}

        {% if cards|length == 1 %}
         
                {{ include("include/card_default.html.twig") }}
            
        {% endif %}
    </div>


{% endblock %}

{% block button %}
    <br/>
    <a href="{{path("annoncement")}}" role="button" type="button" class="btn btn-secondary btn-lg btn-block">Show More</a>

{% endblock %}
