{% block cards %}


    <div class="card">
        <div class="card-body">
            <h5 class="card-title">A venie</h5>
            <p class="card-text">Contenu a venir</p>
            <p>0€</p>
                </a>
        </div>
        <div class="card-footer">
            <small class="text-muted">A venir</small>
        </div>
    </div>


{% endblock %}